@media screen and (min-width: 1381px) {
  .cat__item {
    -webkit-background-size: cover;
            background-size: cover; } }

@media screen and (max-width: 1380px) {
  .cat__item {
    -webkit-background-size: auto auto;
            background-size: auto; }
  .nav__contacts-tel {
    font-size: 18px; }
  .nav__list-item {
    font-size: 14px; }
    .nav__list-item:not(:last-child) {
      margin-bottom: 5px; }
  .content .content-menu__wrp .content-menu__btn {
    left: 15.5%; }
  .content .content-menu {
    left: 22%; } }

@media screen and (max-width: 992px) {
  .nav {
    position: fixed;
    width: 100%;
    height: auto;
    bottom: auto;
    padding-top: 10px;
    padding-bottom: 10px; }
    .nav__top {
      height: 50px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding-right: 60px; }
    .nav__logo {
      margin-bottom: 0;
      max-width: 120px; }
    .nav__menu {
      height: 0;
      display: none !important; }
      .nav__menu.active {
        height: auto;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        padding-bottom: 20px; }
    .nav__list {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .nav__list-item_cart {
        display: none; }
    .nav__hamburger, .nav__cart-wrp {
      display: block; }
  .content {
    width: 100%;
    padding-top: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .content .content-menu__wrp {
      height: 50px;
      position: fixed;
      width: 100%;
      z-index: 4; }
      .content .content-menu__wrp .content-menu__btn {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
                transform: rotate(0deg);
        top: 0;
        max-width: unset;
        margin-top: 13px;
        position: absolute;
        left: 50%;
        margin-left: -80px; }
    .content .content-menu__wrp:hover .content-menu__btn {
      -webkit-transform: scale(0.91);
          -ms-transform: scale(0.91);
              transform: scale(0.91); }
    .content .content-menu {
      left: -100px;
      top: 120px; }
      .content .content-menu.active {
        left: 0px;
        width: 100%; }
    .content__in {
      width: 100%;
      margin-top: 50px; }
  .fancybox-container {
    z-index: 7; } }

@media screen and (max-width: 768px) {
  .section__ttl,
  .catalog__item-ttl,
  .catalog__item_feed .catalog__item-ttl {
    font-size: 25px; }
  .catalog_sub .catalog__item-link {
    font-size: 18px; }
  .cat__item {
    -webkit-background-size: cover;
            background-size: cover; }
  .prod {
    padding: 10px 15px; }
  .prod__item-ttl,
  .content .content-menu__item-ttl {
    font-size: 26px; }
  .cards__item-btn {
    position: relative;
    opacity: 1;
    margin-top: 20px; }
  .cards__item:hover .cards__item-price {
    opacity: 1; } }

@media screen and (max-width: 600px) {
  .cat__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .cat__wrp .cat__item {
      width: 100% !important;
      min-height: auto;
      padding: 50px 0; }
    .cat__wrp .cat__item-cnt {
      opacity: 1;
      -webkit-transform: translateX(0px);
          -ms-transform: translateX(0px);
              transform: translateX(0px); }
    .cat__wrp .cat__item::before {
      display: none; }
    .cat__wrp .cat__item::after {
      opacity: .8 !important; }
    .cat__wrp .cat__item-ttl {
      color: #000 !important; }
    .cat__wrp .cat__item:nth-child(2) .cat__item-cnt > .cat__item-link .cat__item-link-image {
      display: none; }
  .card .tabs__list li {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px; }
  .card .tabs__container {
    padding: 15px; }
  .catalog__item_feed .catalog__item-tel {
    font-size: 28px; } }

@media screen and (max-width: 576px) {
  .cart__item-ttl,
  .cart__item-descr {
    text-align: center; }
  .delivery__links .btn:not(:last-child) {
    margin-right: 0; } }
